<%- include('..partials/header') %>

<section>
    <div>
        <%= flight.airline %>
    </div>
    <div>
        <%= flight.airport %>
    </div>
    <div>
        <%= flight.flightNo %>
    </div>
    <div>
        <%= flight.departs %>
    </div>
</section>

<%- include('..partials/footer') %>